.blog-container {
    width: 100%;
    height: auto;
    background: #c0c0c0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    scrollbar-width: thin;
    scrollbar-color: #999999 #f0f0f0;
    overflow-y: scroll; /* Ensure scrollbar appears only when content overflows */
    display: flex;
}

.leftpanel,
.rightpanel {
    width: 25%;
    height: auto;
    background: #c0c0c0;
}

.middlepanel {
    width: 50%;
    height: auto;
    background: #c0c0c0;
    overflow-y: auto;
}

.middlepanel h1 {
    text-align: center;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.blog-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.blog-container::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
}

.blog-container::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}