/* toolbar.css */

#toolbar {
    background: #c0c0c0;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #fff;
}

.toolbar-start-menu {
    float: left;
    position: relative; /* Ensure positioning context for absolute children */
}

.start-button {
    background: url(../images/windows-0.png) no-repeat 2px center / 24px;
    padding-left: 28px;
    padding-right: 5px;
    height: 29px;
    margin: 2px 3px;
    font-weight: bold;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    cursor: pointer;
}

.start-menu-wrapper {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: #c0c0c0;
    border: 1px solid #000;
    padding: 10px;
    z-index: 999;
    display: none;
}

.start-menu-title {
    display: block;
    background-color: #000080;
    background-image: url("../images/windows_98_remastered_startup_screen__4k_wallpaper_by_archi_techi_daobodr-pre.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    color: white; /* Title bar text color */
    font-family: "MS Sans Serif", "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.start-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.start-menu-link {
    display: block;
    padding: 5px 10px;
    color: blue !important;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
}

.start-menu-link:hover {
    background-color: #0000FF;
    color: #ffffff;
}

.start-menu .back-link:before {
    content: "«";
    margin-right: 5px;
}

.start-menu .back-link {
    padding: 5px;
}

.toolbar-separator {
    width: 2px;
    height: 26px;
    margin-top: 2px;
    background: #797979;
    float: left;
    border-right: 1px solid #fff;
}

.toolbar-left {
    float: left;
    padding: 0 5px;
}

.toolbar-right {
    float: right;
    margin: 2px 3px;
    height: 29px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

.time {
    padding: 6px 10px;
}
