:root {
    --button-face: #dfdfdf;
}

.window {
    border: 2px solid #fff;
    border-right-color: #7c7c7c;
    border-bottom-color: #131313;
    background: #c0c0c0;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 25%;
    resize: both;
    overflow: hidden; /* Hide the scrollbar initially */
}

/* Window toolbar styles */
.window-toolbar {
    background: #000080;
    color: #fff;
    padding: 4px;
    font-weight: bold;
    text-align: left;
}

/* Window buttons styles */
.window-buttons {
    position: absolute;
    right: 2px;
    top: 2px;

    .window-button {
        background: no-repeat center #ccc;
        border: 2px solid #7c7c7c;
        border-top-color: #fff;
        border-left-color: #fff;
        height: 22px;
        width: 22px;
        float: right;
        margin-left: 2px;

        &.close {
            background-image: url(https://win98icons.alexmeub.com/images/close-icon.png);
        }

        &.help {
            background-image: url(https://win98icons.alexmeub.com/images/question-icon.png);
        }
    }
}

.window-content {
    position: absolute;
    top: 30px; /* Offset content by the toolbar height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 0; /* Remove padding to maximize content area */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    text-align: left;
}

/* Overlapping custom scrollbar over the default one */
.window-content::-webkit-scrollbar {
    width: 16px; /* Adjust the scrollbar width as needed */
    background: rgba(0, 0, 0, 0.1); /* Placeholder background color */
}

.window-content::-webkit-scrollbar-thumb {
    background-color: var(--button-face);
    border: 3px solid transparent; /* Adjust border size */
    background-clip: content-box;
    border-radius: 6px; /* Adjust border radius */
}

.window-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.icon-handler {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    visibility: hidden;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

/* Iframe styles */
.web-page-iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
