/* desktop.css */

#desktop {
    background: teal;
    width: calc(100vw); /* Adjusted width to accommodate the border */
    height: calc(100vh - 20px); /* Adjusted height to accommodate the border */
    overflow: hidden;
    border: 10px solid transparent; /* Invisible border */
    padding: 10px; /* Adjust padding to match border width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.desktop-icons {
    position: relative;
    padding: 20px; /* Maintain the padding */
}

.desktop-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align both icon and text to the center */
    justify-content: center;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.desktop-icon.selected {
    background-color: #0080FF; /* Blue background color */
    color: #FFFFFF; /* White text color */
}

.desktop-icon img {
    width: 50px; /* Adjust icon size */
    height: 50px; /* Adjust icon size */
}

.desktop-icon span {
    margin-top: 5px; /* Add space between icon and text */
    font-size: 12px; /* Adjust font size */
    word-wrap: break-word; /* Allow long text to wrap onto multiple lines */
    line-height: 1.2; /* Set the line height */
}
